body {
  background-color: #FF9900 !important;
}

@import url(https://fonts.googleapis.com/css?family=Roboto);
body,
input,
select,
textarea,
body * {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

body::after,
body::before,
input::after,
input::before,
select::after,
select::before,
textarea::after,
textarea::before,
body *::after,
body *::before {
  box-sizing: border-box;
}

h1 {
  font-size: 2rem;
  text-align: center;
  margin: 0 0 2em;
}

.container {
  position: relative;
  max-width: 60rem !important;
  margin: 0rem auto;
  background: #fff;
  width: 100% !important;
  padding: 3rem 0rem 0;
  border-radius: 1px;
}

.titulo-registro {
  position: relative !important;
  max-width: 36rem !important;
  margin: 0rem auto !important;
  background: transparent !important;
  width: 100% !important;
  border-radius: 0px !important;
  padding: 3rem 5rem !important;
}

.button-container {
  text-align: center;
}

fieldset {
  margin: 0 0 3rem;
  padding: 0;
  border: none;
}

.form-radio,
.form-group {
  position: relative;
  margin-top: 2.25rem;
  margin-bottom: 2.25rem;
}

.form-inline > .form-group,
.form-inline > .btn {
  display: inline-block;
  margin-bottom: 0;
}

.form-help {
  margin-top: 0.125rem;
  margin-left: 0.125rem;
  color: #b3b3b3;
  font-size: 0.8rem;
}

.checkbox .form-help,
.form-radio .form-help,
.form-group .form-help {
  position: absolute;
  width: 100%;
}

.checkbox .form-help {
  position: relative;
  margin-bottom: 1rem;
}

.form-radio .form-help {
  padding-top: 0.25rem;
  margin-top: -1rem;
}

.form-group input {
  height: 1.9rem;
}

.form-group textarea {
  resize: none;
}

.form-group select {
  width: 100%;
  font-size: 1rem;
  height: 1.6rem;
  padding: 0.125rem 0.125rem 0.0625rem;
  background: none;
  border: none;
  line-height: 1.6;
  box-shadow: none;
}

.form-group .control-label {
  position: absolute;
  top: 0.25rem;
  pointer-events: none;
  padding-left: 0.125rem;
  z-index: 1;
  color: #b3b3b3;
  font-size: 1rem;
  font-weight: normal;
  -webkit-transition: all 0.28s ease;
  transition: all 0.28s ease;
}

.form-group .bar {
  position: relative;
  border-bottom: 0.0625rem solid #999;
  display: block;
}

.form-group .bar::before {
  content: '';
  height: 0.125rem;
  width: 0;
  left: 50%;
  bottom: -0.0625rem;
  position: absolute;
  background: #FF9900;
  -webkit-transition: left 0.28s ease, width 0.28s ease;
  transition: left 0.28s ease, width 0.28s ease;
  z-index: 2;
}

.form-group input,
.form-group textarea {
  display: block;
  background: none;
  padding: 0.125rem 0.125rem 0.0625rem;
  font-size: 1rem;
  border-width: 0;
  border-color: transparent;
  line-height: 1.9;
  width: 100%;
  color: transparent;
  -webkit-transition: all 0.28s ease;
  transition: all 0.28s ease;
  box-shadow: none;
}

.form-group input[type="file"] {
  line-height: 1;
}

.form-group input[type="file"] ~ .bar {
  display: none;
}

.form-group select,
.form-group input:focus,
.form-group input:valid,
.form-group input.form-file,
.form-group input.has-value,
.form-group textarea:focus,
.form-group textarea:valid,
.form-group textarea.form-file,
.form-group textarea.has-value {
  color: #333;
}

.form-group select ~ .control-label,
.form-group input:focus ~ .control-label,
.form-group input:valid ~ .control-label,
.form-group input.form-file ~ .control-label,
.form-group input.has-value ~ .control-label,
.form-group textarea:focus ~ .control-label,
.form-group textarea:valid ~ .control-label,
.form-group textarea.form-file ~ .control-label,
.form-group textarea.has-value ~ .control-label {
  font-size: 0.8rem;
  color: gray;
  top: -1rem;
  left: 0;
}

.form-group select:focus,
.form-group input:focus,
.form-group textarea:focus {
  outline: none;
}

.form-group select:focus ~ .control-label,
.form-group input:focus ~ .control-label,
.form-group textarea:focus ~ .control-label {
  color: #FF9900;
}

.form-group select:focus ~ .bar::before,
.form-group input:focus ~ .bar::before,
.form-group textarea:focus ~ .bar::before {
  width: 100%;
  left: 0;
}

.checkbox label,
.form-radio label {
  position: relative;
  cursor: pointer;
  padding-left: 2rem;
  text-align: left;
  color: #333;
  display: block;
  font-size: 13px;
}

.checkbox input,
.form-radio input {
  width: auto;
  opacity: 0.00000001;
  position: absolute;
  left: 0;
}

.radio {
  margin-bottom: 1rem;
}

.radio .helper {
  position: absolute;
  top: -0.25rem;
  left: -0.25rem;
  cursor: pointer;
  display: block;
  font-size: 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #999;
}

.radio .helper::before,
.radio .helper::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  margin: 0.25rem;
  width: 1rem;
  height: 1rem;
  -webkit-transition: -webkit-transform 0.28s ease;
  transition: -webkit-transform 0.28s ease;
  transition: transform 0.28s ease;
  transition: transform 0.28s ease, -webkit-transform 0.28s ease;
  border-radius: 50%;
  border: 0.125rem solid currentColor;
}

.radio .helper::after {
  -webkit-transform: scale(0);
  transform: scale(0);
  background-color: #FF9900;
  border-color: #FF9900;
}

.radio label:hover .helper {
  color: #FF9900;
}

.radio input:checked ~ .helper::after {
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
}

.radio input:checked ~ .helper::before {
  color: #337ab7;
}

.checkbox {
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.checkbox .helper {
  color: #999;
  position: absolute;
  top: 0;
  left: 0;
  width: 1rem;
  height: 1rem;
  z-index: 0;
  border: 0.125rem solid currentColor;
  border-radius: 0.0625rem;
  -webkit-transition: border-color 0.28s ease;
  transition: border-color 0.28s ease;
}

.checkbox .helper::before,
.checkbox .helper::after {
  position: absolute;
  height: 0;
  width: 0.2rem;
  background-color: #FF9900;
  display: block;
  -webkit-transform-origin: left top;
  transform-origin: left top;
  border-radius: 0.25rem;
  content: '';
  -webkit-transition: opacity 0.28s ease, height 0s linear 0.28s;
  transition: opacity 0.28s ease, height 0s linear 0.28s;
  opacity: 0;
}

.checkbox .helper::before {
  top: 0.65rem;
  left: 0.38rem;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
  box-shadow: 0 0 0 0.0625rem #fff;
}

.checkbox .helper::after {
  top: 0.3rem;
  left: 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.checkbox label:hover .helper {
  color: #FF9900;
}

.checkbox input:checked ~ .helper {
  color: #FF9900;
}

.checkbox input:checked ~ .helper::after,
.checkbox input:checked ~ .helper::before {
  opacity: 1;
  -webkit-transition: height 0.28s ease;
  transition: height 0.28s ease;
}

.checkbox input:checked ~ .helper::after {
  height: 0.5rem;
}

.checkbox input:checked ~ .helper::before {
  height: 1.2rem;
  -webkit-transition-delay: 0.28s;
  transition-delay: 0.28s;
}

.radio + .radio,
.checkbox + .checkbox {
  margin-top: 1rem;
}

.has-error .legend.legend,
.has-error.form-group .control-label.control-label {
  color: #d9534f;
}

.has-error.form-group .form-help,
.has-error.form-group .helper,
.has-error.checkbox .form-help,
.has-error.checkbox .helper,
.has-error.radio .form-help,
.has-error.radio .helper,
.has-error.form-radio .form-help,
.has-error.form-radio .helper {
  color: #d9534f;
}

.has-error .bar::before {
  background: #d9534f;
  left: 0;
  width: 100%;
}

.button {
  position: relative;
  background: currentColor;
  border: 1px solid currentColor;
  font-size: 25px !important;
  color: #00EC2F;
  margin: 3rem 0;
  padding: 0.75rem 3rem;
  cursor: pointer;
  -webkit-transition: background-color 0.28s ease, color 0.28s ease, box-shadow 0.28s ease;
  transition: background-color 0.28s ease, color 0.28s ease, box-shadow 0.28s ease;
  overflow: hidden;
  box-shadow: 0 2px 2px 0 rgb(154, 136, 136), 0 3px 1px -2px rgb(150, 122, 122), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  border-radius: 73px;
  width: 70%;
}

.button span {
  color: #fff;
  position: relative;
  z-index: 1;
}

.button::before {
  content: '';
  position: absolute;
  background: #00EC2F;
  border: 50vh solid #1d4567;
  width: 30vh;
  height: 30vh;
  border-radius: 50%;
  display: block;
  top: 50%;
  left: 50%;
  z-index: 0;
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) scale(0);
  transform: translate(-50%, -50%) scale(0);
}

.button:hover {
  color: #00EC2F;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
}

.button:active::before,
.button:focus::before {
  -webkit-transition: opacity 0.28s ease 0.364s, -webkit-transform 1.12s ease;
  transition: opacity 0.28s ease 0.364s, -webkit-transform 1.12s ease;
  transition: transform 1.12s ease, opacity 0.28s ease 0.364s;
  transition: transform 1.12s ease, opacity 0.28s ease 0.364s, -webkit-transform 1.12s ease;
  -webkit-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
  opacity: 0;
}

.button:focus {
  outline: none;
}

.imagen-registro {
  width: 100%;
  height: 1000px !important;
  /*margin-top: -48px;*/
  margin-left: 0px;
}

.titulo-registro h1 {
  color: white;
}

.casilla-1 {
  padding: 0rem 5rem 0 !important;
}

.casilla-1 h1 {
  text-align: center;
  color: #FF9900;
}

.casilla-1 p {
  text-align: center;
  color: #8E8E8E;
}

.btn-google {
  background: #DD4B39;
  color: white !important;
  border-radius: 23px;
  width: 100%;
  box-shadow: 2px 2px 2px #818182;
}

.btn-facebook {
  background: #3B5999;
  color: white !important;
  border-radius: 23px;
  width: 100%;
  box-shadow: 2px 2px 2px #818182;
}

.registro-ingresa a {
  color: #FF9900 !important;
}

.p-registrate {
  margin-top: -45px !important;
}

.flecha-registro {
  margin-top: 20px;
  margin-left: -30px;
}

/*RECUPERAR CONTRASEÑA*/

.recuperar-contrasenia {
  background: transparent !important;
  padding: 1rem 0rem 0 !important;
}

.email-recuperar {
  padding: 2rem 11rem !important;
}

.boton-recuperar {
  position: relative;
  background: currentColor;
  border: 1px solid currentColor;
  font-size: 1.1rem;
  color: #00EC2F;
  margin: 3rem 0;
  padding: 0.75rem 3rem;
  cursor: pointer;
  -webkit-transition: background-color 0.28s ease, color 0.28s ease, box-shadow 0.28s ease;
  transition: background-color 0.28s ease, color 0.28s ease, box-shadow 0.28s ease;
  overflow: hidden;
  box-shadow: 0 2px 2px 0 rgb(154, 136, 136), 0 3px 1px -2px rgb(150, 122, 122), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  border-radius: 73px;
  width: 40% !important;
  margin-top: -11px !important;
}

.contenedor-recuperar {
  position: relative;
  max-width: 60rem;
  margin: 0rem auto;
  background: #fff;
  width: 100%;
  padding: 1rem 0rem 0 !important;
  border-radius: 1px;
  box-shadow: 4px 4px #8181828f !important;
}

.contenedor-recuperar a {
  color: #FF9900 !important;
}

.input-recuperar-email:focus {
  margin-left: 170px;
}

.input-recuperar-email:active {
  margin-left: 170px;
}

/*LOGIN*/

.boton-iniciar-sesion {
  position: relative;
  background: currentColor;
  border: 1px solid currentColor;
  font-size: 20px !important;
  color: #00EC2F;
  margin: 3rem 0;
  padding: 0.75rem 3rem;
  cursor: pointer;
  -webkit-transition: background-color 0.28s ease, color 0.28s ease, box-shadow 0.28s ease;
  transition: background-color 0.28s ease, color 0.28s ease, box-shadow 0.28s ease;
  overflow: hidden;
  box-shadow: 0 2px 2px 0 rgb(154, 136, 136), 0 3px 1px -2px rgb(150, 122, 122), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  border-radius: 73px;
  width: 70%;
}

.imagen-login {
  width: 100%;
  height: 760px !important;
  /*margin-top: -48px;*/
  /* margin-left: 15px */
  ;
}

.icono-usuario,
.icono-contraseña {
  margin-left: 301px !important;
  padding: 5px;
  margin-top: -30px;
}

.registro-ingresa {
  padding: 10px;
}

/*HOME*/

.body-home {
  background: #F0F5F6 !important;
}

.inicio-slider {
  background-image: url('../Assets/1 home/slider.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 600px;
  margin-top: -16px;
}

.contenedor-slider-inicio {
  background: transparent;
}

.contenedor-formuarli-inicio {
  background: #FF9900;
  height: 440px;
}

.contenedor-formuarli-inicio h1 {
  text-align: left;
  padding: 22px;
  color: white;
  font-size: 36px;
}

.contenedor-formuarli-inicio input {
  margin: 4px;
  border-radius: 4px;
  border: 1px solid transparent;
}

/*cotenedor de ofertas final*/

.contenedor-formuarli-final {
  background: #FF9900;
  height: 440px;
}

.contenedor-formuarli-final h1 {
  text-align: left;
  padding: 22px;
  color: white;
  font-size: 36px;
}

.contenedor-formuarli-final input {
  margin: 4px;
  border-radius: 4px;
  border: 1px solid transparent;
}

.boton-contar-home {
  margin-top: -22px;
}

.contenedor-formuarli-inicio input::placeholder {
  color: #6c757d;
  padding: 12px;
}

.contenedor-formuarli-inicio select {
  width: 97%;
  padding: 7px;
  margin: 8px;
  background: white;
  color: #6c757d;
  border: 1px solid transparent;
  border-radius: 4px;
}

.contenedor-formuarli-final select {
  width: 97%;
  padding: 7px;
  margin: 8px;
  background: white;
  color: #6c757d;
  border: 1px solid transparent;
  border-radius: 4px;
}

.contenedor-formuarli-final input::placeholder {
  color: #6c757d;
  padding: 12px;
}

.boton-contar-home button {
  font-size: 26px;
  border-radius: 4px;
}

.rows-formulario {
  margin-top: -60px;
}

/*Seccion 2 home*/

.seccion-2 {
  background: white !important;
}

.seccion-2 h1,
.seccion-2 p {
  text-align: center;
}

.seccion-2 h1 {
  color: #FF9900 !important;
}

.inica-en-3-pasos-home {
  background: white;
}

.boton-empezar-home {
  background: #f9992d !important;
  border: 0px solid transparent;
  border-radius: 20px;
  font-size: 20px;
  padding: 5px;
  width: 100%;
}

/*SECCIOM 3*/

.contenedor-inicio-tres-passos {
  background: white !important;
}

.inica-en-3-pasos-home h1,
.inica-en-3-pasos-home p {
  text-align: center;
}

.inica-en-3-pasos-home h1 {
  color: #f9992d;
}

.inica-en-3-pasos-home p {
  text-align: center;
}

.contenedor-inicio-tres-passos h2 {
  font-size: 19px;
  font-weight: bold;
}

.contenedor-inicio-tres-passos p {
  text-align: justify;
}

.tres-pasos-contenedor-boton {
  text-align: center;
}

.tres-pasos-boton {
  text-align: center;
  font-size: 20px;
  width: 200px;
  background: #00EC2F !important;
  border: 0px solid transparent;
  border-radius: 20px;
}

.tres-pasos-boton a {
  color: white;
}

.tres-pasos-boton a:hover {
  color: white;
}

/*ESTILO SLIDER*/

.slider-home {
  background: #FF9900;
}

.slider-contenedor {
  background: #FF9900;
}

.slider-home p {
  text-align: center;
  color: black;
}

.slider-home h1 {
  color: white;
  text-align: center;
}

.contenedor-imagen {
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSjlF0H4_P43-yfQ2RX938MC91ZpQyVeRvxDO2KH8vj5hh4P0Wj');
  background-repeat: no-repeat;
  background-size: 100%;
  height: 200px;
}

.contenedor-imagen h3,
.contenedor-imagen p {
  color: white;
  text-align: center;
}

.cotenedor-texto {
  background: white;
  margin-top: -32px;
}

.cotenedor-texto p {
  text-align: justify;
  padding: 34px;
}

.cotenedor-texto img {
  margin-top: -31px;
}

/*Seccion 4*/

.beneficios-home-cuadros {
  background: #FF9900;
}

.contenedor-beneficios {
  background: #FF9900;
}

.beneficio-titulo {
  background: black;
  height: 136px;
}

.beneficio-titulo h3 {
  color: white;
  text-align: center;
}

.beneficios-contenido {
  background: #333;
  color: white;
}

.beneficios-contenido h3 {
  padding: 0px 0px 8px 26px;
  text-align: left;
}

.seccion-susbribir {
  background: #FF9900;
}

.contenedor-que-beneficios {
  position: relative;
  max-width: 60rem;
  margin: 0rem auto;
  background: #fff;
  width: 100%;
  padding: 3rem 0rem 0;
  border-radius: 7px !important;
}

.contenedor-que-beneficios p {
  padding: 50px;
  margin-top: -70px;
}

.boton-suscribir-home button {
  font-size: 30px !important;
  border-radius: 4px !important;
  position: relative;
  background: currentColor;
  border: 0px solid currentColor;
  font-size: 1.1rem;
  color: #00EC2F;
  margin: 3rem 0;
  padding: 0.75rem 3rem;
  cursor: pointer;
  -webkit-transition: background-color 0.28s ease, color 0.28s ease, box-shadow 0.28s ease;
  transition: background-color 0.28s ease, color 0.28s ease, box-shadow 0.28s ease;
  overflow: hidden;
  box-shadow: 0 2px 2px 0 rgb(154, 136, 136), 0 3px 1px -2px rgb(150, 122, 122), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  border-radius: 73px;
  width: 30%;
  height: 60px;
  margin-top: -30px;
}

/*SECCION 5*/

.respaldan {
  background: white;
}

.respaldan h1 {
  text-align: center;
  color: #FF9900;
}

.respaldan p {
  text-align: center;
}

/*SECCION 6*/

.ultimas-ofertas {
  background: #888888 !important;
}

.contenedor-ultimas-ofertas {
  background: rgba(0, 0, 0, 0);
}

.imagen-1 {
  background-image: url('https://i.imgur.com/T2nnsa4.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 460px;
}

.texto-contenedor {
  background: #21252963;
}

.imagen-1 h1,
.imagen-1 p {
  color: white;
}

.imagen-1 p {
  text-align: justify;
  padding: 12px;
  margin-top: -50px;
}

.imagen-2 {
  background-image: url('https://i.imgur.com/PktKvHX.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 460px;
}

.imagen-2 h1 {
  color: white;
}

<<<<<<< HEAD
/*EN VIVO*/

.video-en-vivo {
  background: #E6E6E6;
}

.contenedor-de-video-en-vivo {
  background: #E6E6E6;
}

.conteneodr-lo-que-ofrecer {
  background: #FFA400;
}

.conteneodr-lo-que-ofrecer h1 {
  color: white;
  text-align: center;
}

.conteneodr-lo-que-ofrecer p {
  color: black;
  text-align: center;
  margin-top: -40px;
}

.imagen-videos p {
  color: #a9a9a9;
  text-align: center;
  margin-top: -20px;
}

.imagen-videos {
  background: white;
  border-radius: 5px;
}

.imagen-videos h3 {
  font-size: 20px;
  padding: 13px;
}

.imagen-videos span {}

.time {
  background: #3F3F3B;
  text-align: center;
  width: 50px;
}

.share {
  padding: 10px;
}

.pagination {
  text-align: center !important;
  margin: auto !important;
  color: black !important;
}

.pagination a {
  color: black;
}

.pagination li {
  padding: 12px;
  color: black !important;
}

.pagination li.active {
  padding: 12px;
  color: black !important;
  font-weight: bold !important;
}

/*BLOG*/

.body-blog {
  background: white !important;
}

.blog {
  text-align: center;
}

.blog h1 {
  text-align: center;
  color: #FFA400;
}

.blog p {
  text-align: center;
}

.boton-ver-mas-blog {
  width: 157px;
  padding: 4px;
  background: white;
  border: 2px solid #FFA400;
  border-radius: 6px;
  color: #FFA400;
}

.boton-ver-mas-blog:hover {
  width: 157px;
  padding: 4px;
  background: #FFA400;
  border: 2px solid transparent;
  border-radius: 6px;
  color: white;
}

.boton-ver-mas-blog:active {
  width: 157px !important;
  padding: 4px !important;
  background: #FFA400 !important;
  border: 2px solid transparent !important;
  border-radius: 6px !important;
  color: white !important;
}

.boton-ver-mas-blog:before {
  width: 157px !important;
  padding: 4px !important;
  background: #FFA400 !important;
  border: 2px solid transparent !important;
  border-radius: 6px !important;
  color: white !important;
}

.boton-ver-mas-blog:focus {
  width: 157px !important;
  padding: 4px !important;
  background: #FFA400 !important;
  border: 2px solid transparent !important;
  border-radius: 6px !important;
  color: white !important;
}

.contenedor-noticias {
  box-shadow: 3px 3px 4px #999999;
  border-radius: 10px 0px 10px 10px;
}

/*PErfiles*/

.body-perfiles {
  background: #FFA400;
}

.tipo-perfil {
  background: #FFA400;
}

.tipo-perfil h1 {
  text-align: center !important;
  color: white;
}

.tipo-perfil h3 {
  text-align: center !important;
  color: #343a40;
}

.tipo-perfil p {
  text-align: center !important;
}

.texto-noticias {
  background: white;
  border-radius: 10px;
}

.texto-noticias p {
  text-align: center !important;
  color: #343a40;
}

.texto-noticiaspe:hover {
  background: #343a40 !important;
  border-radius: 10px !important;
  color: white !important;
}

/*PAQUETES*/

.body-paquetes {
  background: #EEEEEF;
}

.paquetes-contendor h1 {
  color: #FFA400;
}

.paquetes-contendor p {
  text-align: center;
}

.text-center {
  text-align: center;
}

#tabs-ctrl {
  display: flex;
  justify-content: center;
}

.tab-ctrl {
  background: #EEEEEF;
  border: 1px solid black;
  margin: 1rem;
  padding: 0.5rem 2rem;
  border-radius: 25px;
  outline: 0;
  transition: all 200ms;
  font-weight: bold;
  width: 270px;
}

.ctrl-active {
  background: -webkit-linear-gradient(left, #3AAFFF 0%, #008DDF 100%);
  color: #fff;
  transition: all 200ms;
  border: 1px solid transparent;
  width: 270px;
}

.tab-content {
  max-width: 100%;
  margin: auto;
  display: none;
  background: transparent;
  padding: 1rem;
  transition: all 200ms;
}

.content-active {
  display: block;
  transition: all 200ms;
}

.menbresia-cuadro {
  background: white;
}

.paquetes-contendor {
  background: #EEEEEF;
}

.menbresia-contenedor {
  background: #EEEEEF;
}

.menbresia-cuadro h5 {
  text-align: center;
}

.menbresia-cuadro h1 {
  text-align: center;
  font-size: 40px;
}

.menbresia-cuadro p {
  text-align: center;
  padding: 12px;
  margin-top: -20px;
}

.menbresia-cuadro span {
  padding: 50px;
  margin-left: 55px;
}

.cuadro-contenedor-menbresia {
  background: transparent !important;
}

.p-paquetes {
  margin-top: -60px !important;
}

.boton-suscribir-paquete {
  background: #00EC2F !important;
  border-radius: 5px;
  border: 1px solid transparent;
  font-size: 18px;
}

/*footer*/

.plo-foo {
  background: #343a40;
  height: 198px;
}

.fo-cl {
  display: flex;
  justify-content: center;
  margin: auto;
}

.plo-foo .fo-cl ul {
  list-style: none;
}

.plo-foo .fo-cl ul li {
  text-decoration: none;
  padding-bottom: 10px;
}

.plo-foo .fo-cl ul li a:hover {
  text-decoration: none;
}

.plo-foo .fo-cl ul li a {
  color: white;
}

.fo-cl .text-right img {
  padding: 3px;
}
