/* globale */
* {
  margin:0;
  padding:0;
  -webkite-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -o-box-sizing:border-box;
  box-sizing:border-box;
}

ul.links {
    list-style-type: none;
    overflow:hidden;
    background-color: #e5e0e0;
}

ul.links li {float: left;}

ul.links li a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
  transiton:all .5s ease-in-out;
  color: black;
}

ul.links li a:hover {
  background-color: #F64747;
}

ul.links li.icon {display: none;}

.links .menu {
   position: relative;
}

.links .menu .submenu{
  position: absolute;
  top:42px;
  left:0;
  width:220px;
  background:#fff;
  padding:10px;
  -webkite-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  display:none;
}

.links .menu .submenu li {
  padding: 10px;
}

.links .menu .submenu li a {
  color: #777;
  text-decoration:none
}

.links .menu .submenu:before {
  content:'';
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #fff;
  height:0;
  width:0;
  position:absolute;
  top:-6px;
  left: 30px;
  
}

.links .menu:hover .submenu {
  display:block;
}

/* media Queries */
@media screen and (max-width:680px) {
  ul.links li:not(:first-child) {display: none;}
  ul.links li.icon {
    float: right;
    display: inline-block;
  }
}
/* new class responsive */
@media screen and (max-width:680px) {
  ul.links.responsive {position: relative;}
  ul.links.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.links.responsive li {
    /*float: none;*/
    display: inline;
  }
  ul.links.responsive li a {
    display: block;
    text-align: left;
  }
}
@media(max-width: 414px){
  .med-h5 ul{
    display: grid;
  }
  .med-h5 .nav li.nav-item a{
    text-align: center;
  }
}
.hola .container{
  padding: 0px;
}
.nav-he{
  background: #e5e0e0;
}
.nav-he .links .usuario-he p{
  margin: auto;
  margin-left: 0px;
  margin-right: 0px;
}
.nav-he .usuario-he{
  display: flex;
  justify-content: center;
  margin-top: 25px;
}
.nav-he .usuario-he img{
  width: 31px;
  margin-right: 10px;
}
.med-h5{
  margin-top: 10px;
}
.bt-ug .b1-btn{
  margin: 27px 5px;
  background: #02D431;
  padding: 3px 20px;
  border-radius: 17px;
  font-size: 15px;
  color: white;
}
.bt-ug .b2-btn{
  border: 1px solid #ECAD31;
  background: transparent;
  padding: 3px 20px;
  border-radius: 17px;
  font-size: 15px;
  color: #ECAD31;
  margin: 27px 5px;
}
.log-h:hover{
  background: transparent !important;
}
.icon a.bt-hambur:hover{
  background: #565655;
  color: white;
}
ul.links li a.nv-3r:hover{
  background-color: #565655;
  color: white;
}
.bt-ug .b1-btn:hover{
  background: #565655;
}
.bt-ug .b2-btn:hover{
  background: #565655;
  color: white;
  border: transparent;
}
@media(max-width: 900px){
  .bt-ug .b1-btn {
    margin: 27px 5px;
    background: #02D431;
    padding: 3px 15px;
    border-radius: 17px;
    font-size: 15px;
    color: white;
  }
  .bt-ug .b2-btn {
    border: 1px solid #ECAD31;
    background: transparent;
    padding: 3px 15px;
    border-radius: 17px;
    font-size: 15px;
    color: #ECAD31;
    margin: 27px 5px;
  }
  ul.links li a.nv-3r{
    padding: 20px 10px;
  }
}
@media(max-width: 826px){
  .bt-ug .b1-btn {
    margin: 27px 5px;
    background: #02D431;
    padding: 2px 10px;
    border-radius: 17px;
    font-size: 15px;
    color: white;
    text-align: center !important;
  }
  .bt-ug .b2-btn {
    border: 1px solid #ECAD31;
    background: transparent;
    padding: 2px 10px;
    border-radius: 17px;
    font-size: 15px;
    color: #ECAD31;
    margin: 27px 5px;
    text-align: center !important;
  }
}
@media(max-width: 789px){
  ul.links li a.nv-3r {
    padding: 20px 6px;
  }
}
