
h4{  
  color: #f29b17;
  font-weight: bold !important;
}
label{
  font-weight: bold;
}
/*perfil*/

.edit-pfl {
  margin-top: 20px;
  margin-bottom: 20px;
}

.edit-pfl a {
  padding-top: 2px;
  padding-bottom: 2px;
  border: 1px solid #f1b965;
  color: #f29b17;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.28);
}
.pro-img{
  width: 100%;
}
.dates{
  margin-bottom: 40px;
}
/*.dates h4{
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.28);
}*/

.pro-img {
  width: 100%;
}

.dates {
  margin-bottom: 40px;
}

.dates h4 {
  color: #f29b17;
  margin-top: 0px;
  font-weight: bold;
}

.dates p {
  margin-bottom: 0px;
  color: #5c5b5b;
  font-weight: bold;
}
.text p{
  text-align: justify;
}
.video{
  margin-left: 30px;
  margin-right: 30px;
}
.certif h4{
  color: #f29b17;
  font-weight: bold;
}
.certif p{
  text-align: justify;
}
.certif .doc .gr-d{
  display: grid;
}
.certif .doc .gr-d a{
  margin-bottom: 5px;
}
.certif .doc .gr-d img{
  width: 25px;
}
.pago{
  margin-bottom: 30px;
}
.pago h4{
  color: #f29b17;
  font-weight: bold;
}
.pago p{
  text-align: justify;
}
.pago .banco h5{
  margin-top: 0px;
}
.pago .bto-pg a{
}

.text p {
  text-align: justify;
}

.video {
  margin-left: 30px;
  margin-right: 30px;
}

.certif h4 {
  color: #f29b17;
  font-weight: bold;
}

.certif p {
  text-align: justify;
}

.certif .doc .gr-d {
  display: grid;
}

.certif .doc .gr-d a {
  margin-bottom: 5px;
}

.certif .doc .gr-d img {
  width: 25px;
}

.pago {
  margin-bottom: 30px;
}

.pago h4 {
  color: #f29b17;
  font-weight: bold;
}

.pago p {
  text-align: justify;
}

.pago .banco h5 {
  margin-top: 0px;
}

.pago .bto-pg a {
  padding-top: 2px;
  padding-bottom: 2px;
  border-top-width: 0px;
  border-bottom-width: 0px;
  background: orange;
  color: white;
}

/*editar perfil*/
.btn-prof-edit{
  margin: auto;
  text-align: center;
}
.btn-prof-edit button{
  box-shadow: -1px 1px 6px 0px rgba(0, 0, 0, 0.75);
}

.btn-prof-edit {
  margin: auto;
  text-align: center;
}

.btn-prof-edit button {
  padding: 0px 15px;
  background: #32ae32;
  border: 1px solid transparent;
  border-radius: 8px;
  box-shadow: -1px 1px 6px 0px rgba(0,0,0,0.75);
}
.options-sex{
  font-size: 14px;
  height: 36px;
}
.w-ipt{
  width: 80%;
  display: inline-flex;
}
.lis-cert a img{
  margin-left: 9px;
  width: 10%;
}
.lis-cert a{
  color: black;
}
.ant-ed{
  width: 92%;
}
.video-link{
  width: 85%;
  display: inline-flex;
}
.vid-img-check img{
  margin-left: 10px;
  margin-bottom: 2px;
}

.displayNone{
  display:none;
}
.selectbtn{
  height:30px;
  background-color:#a8d09100;
  border:0px solid #a8d09100;
  border-radius:5px;
  cursor:pointer;
  margin-left: 5px;
}
.inputbox{
  width: 90%;
  display: inline-flex;
}

.options-sex {
  font-size: 14px;
  height: 36px;
}

.arch-cert ul .lis-cert {
  /*text-align: left;*/
}

/*1.3 Perfil profesional*/

.titulo-busqueda {
  color: #f29b17 !important;
  margin-top: 0px !important;
  font-weight: bold !important;
  text-align: center !important;
}

#slider-nav {
  margin: 1em 0;
  text-align: right;
}

#slider-nav a {
  /* width: 2em; */
  /* height: 2em; */
  /* border: 1px solid #ccc; */
  text-align: center;
  text-decoration: none;
  color: #000;
  display: inline-block;
  line-height: 2;
  margin-right: 0.5em;
}

#slider-nav a.current {
  border-color: #000;
}

.table-bordered td,
.table-bordered th {
  border: 5px solid #dee2e6;
}

.titulo-tabla {
  background: #E5E5E5;
}

.table-bordered td {
  background: white !important;
}

.Rows {
  background: white !important;
  font-weight: 100 !important;
}

.contenedor-cuadro {
  width: 100%;
  background: #F5F5F5;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 1px #00000087;
}

.texto-estado {
  text-align: right;
}

.caja-1 {
  text-align: center;
  border: 1px solid #6B85FF;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px rgba(115, 100, 100, 0.31);
}

.caja-2 {
  text-align: center;
  border: 1px solid #C408C1;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px rgba(115, 100, 100, 0.31);
}

.caja-3 {
  text-align: center;
  border: 1px solid #FA6F7A;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px rgba(115, 100, 100, 0.31);
}

.cajita-1 {
  text-align: center;
  border: 1px solid #6B85FF;
  border-radius: 10px;
}

.cajita-2 {
  text-align: center;
  border: 1px solid #C408C1;
  border-radius: 10px;
}

.cajita-3 {
  text-align: center;
  border: 1px solid #FA6F7A;
  border-radius: 10px;
}

.cajita-1 h6 {
  text-align: center !important;
}

.cajita-2 h6 {
  text-align: center !important;
}

.cajita-3 h6 {
  text-align: center !important;
}

.texto-cajita {
  margin-top: -17px;
}

.boton-editar {
  background: #0092E0;
  border: 1px solid transparent;
  font-size: 16px;
  padding: 5px;
  color: white;
  width: 130px;
  border-radius: 10px;
}

.contendor-boton-sesiones {
  text-align: right;
}

.boton-sesiones {
  background: #F69100;
  border: 1px solid transparent;
  font-size: 16px;
  padding: 5px;
  color: white;
  width: 130px;
  border-radius: 10px;
}

.boton-agregar {
  background: white;
  border: 1px solid #0092E0;
  font-size: 16px;
  padding: 5px;
  color: #0092E0;
  width: 130px;
  border-radius: 10px;
}

/*2.2 Perfil paciente*/

.body-2-2-perfil-paciente {
  background: #e3e3e399;
}

.administrador-panel {
  background: #e3e3e399 !important;
}

.contendor-membresias {
  text-align: center;
}

.cuadro-menbresia {
  background: white;
}

.tab1-panel {
  background: white;
}

.tabla-10-md {
  background: #F5F5F5 !important;
}

.tabla-10-md {
  text-align: center;
}

.tabla-10-md h3 {
  color: #f29b17;
}

.cuadro-suscripciones-peril-paciente {
  background: white;
  box-shadow: 2px 2px 2px -1px #e0e0e0;
  border-radius: 6px;
}

.cuadro-suscripciones-peril-paciente:hover {
  box-shadow: 1px 2px 15px 1px #495057;
}

.simbolo-dolar {
  text-align: left;
  padding: 14px;
  margin-top: -20px;
}

.cuadro-suscripciones-peril-paciente span {
  font-size: 58px;
}

.cuadro-suscripciones-peril-paciente p {
  line-height: 1;
}

.susbribirte-azul {
  background: #4F6DE1;
  color: white;
  border: transparent;
  border-radius: 10px;
  padding: 2px;
  text-align: center;
  height: 30px;
  width: 119px;
}

.susbribirte-verde {
  background: -webkit-linear-gradient(left, #3DFF6E 0%, #3FEF38 100%);
  color: white;
  border: transparent;
  border-radius: 10px;
  padding: 2px;
  text-align: center;
  height: 30px;
  width: 119px;
}

.texto-gratis-perfil-paciente {
  color: #EC3D19 !important;
  font-weight: 100 !important;
}

/*2.4.1 perfil paciente*/

.selecteor-redondo {
  border-radius: 20px;
  background: #3EEB2C;
  color: white;
  font-size: 20px;
}

.selecteores-redondos {
  border-radius: 20px;
  box-shadow: 2px 2px 2px 1px #9e9e9e;
}

.colo-cuadro-entrenador {
  background: white;
  border-radius: 4px;
  box-shadow: 2px 1px 0px 1px #9e9e9e;
}

.colo-cuadro-entrenador h3 {
  font-size: 22px;
  font-weight: 400;
  color: black;
}

.colo-cuadro-entrenador p {
  margin-bottom: 0px;
  color: #5c5b5b;
  margin-top: -27px;
  font-weight: 100;
}

.colo-cuadro-entrenador button {
  color: #F6912E;
  border: 1px solid #F6912E;
  width: 140px;
  border-radius: 20px;
  padding: 2px;
  background: white;
}

.colo-cuadro-entrenador button:hover {
  color: white;
  border: 1px solid #F6912E;
  width: 140px;
  border-radius: 20px;
  padding: 2px;
  background: #F6912E;
}
/*2.1. perfil paciente*/
.w-pt-pp{
  width: 40%;
}
.input-pt input{
  display: inline-flex;
}
.input-pt p{
  display: inline-flex;
  font-weight: bold;
}
.text-small{
  display: inline-flex;
  margin-left: 8px;
  font-size: 80%;
  font-weight: bold;
}
.area-habit{
  width: 92%;
}
.btn-toggle {
  margin: 0 4rem;
  padding: 0;
  position: relative;
  border: none;
  height: 1.5rem;
  width: 3rem;
  border-radius: 1.5rem;
  color: #6b7381;
  background: #bdc1c8;
}
.btn-toggle:focus,
.btn-toggle.focus,
.btn-toggle:focus.active,
.btn-toggle.focus.active {
  outline: none;
}
.btn-toggle:before,
.btn-toggle:after {
  line-height: 1.5rem;
  width: 4rem;
  text-align: center;
  font-weight: 600;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: absolute;
  bottom: 0;
  transition: opacity .25s;
}
.btn-toggle:before {
  content: 'Off';
  left: -4rem;
}
.btn-toggle:after {
  content: 'On';
  right: -4rem;
  opacity: .5;
}
.btn-toggle > .handle {
  position: absolute;
  top: 0.1875rem;
  left: 0.1875rem;
  width: 1.125rem;
  height: 1.125rem;
  border-radius: 1.125rem;
  background: #fff;
  transition: left .25s;
}
.btn-toggle.active {
  transition: background-color 0.25s;
}
.btn-toggle.active > .handle {
  left: 1.6875rem;
  transition: left .25s;
}
.btn-toggle.active:before {
  opacity: .5;
}
.btn-toggle.active:after {
  opacity: 1;
}
.btn-toggle.btn-sm:before,
.btn-toggle.btn-sm:after {
  line-height: -0.5rem;
  color: #fff;
  letter-spacing: .75px;
  left: 0.4125rem;
  width: 2.325rem;
}
.btn-toggle.btn-sm:before {
  text-align: right;
}
.btn-toggle.btn-sm:after {
  text-align: left;
  opacity: 0;
}
.btn-toggle.btn-sm.active:before {
  opacity: 0;
}
.btn-toggle.btn-sm.active:after {
  opacity: 1;
}
.btn-toggle:before,
.btn-toggle:after {
  color: #6b7381;
}
.btn-toggle.active {
  background-color: #29b5a8;
}

.btn-toggle.btn-sm {
  margin: 0 0.5rem;
  padding: 0;
  position: relative;
  border: none;
  height: 1.5rem;
  width: 3rem;
  border-radius: 1.5rem;
}
.btn-toggle.btn-sm:focus,
.btn-toggle.btn-sm.focus,
.btn-toggle.btn-sm:focus.active,
.btn-toggle.btn-sm.focus.active {
  outline: none;
}
.btn-toggle.btn-sm:before,
.btn-toggle.btn-sm:after {
  line-height: 1.5rem;
  width: 0.5rem;
  text-align: center;
  font-weight: 600;
  font-size: 0.55rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: absolute;
  bottom: 0;
  transition: opacity .25s;
}
.btn-toggle.btn-sm:before {
  content: 'Off';
  left: -0.5rem;
}
.btn-toggle.btn-sm:after {
  content: 'On';
  right: -0.5rem;
  opacity: .5;
}
.btn-toggle.btn-sm > .handle {
  position: absolute;
  top: 0.1875rem;
  left: 0.1875rem;
  width: 1.125rem;
  height: 1.125rem;
  border-radius: 1.125rem;
  background: #fff;
  transition: left .25s;
}
.btn-toggle.btn-sm.active {
  transition: background-color 0.25s;
}
.btn-toggle.btn-sm.active > .handle {
  left: 1.6875rem;
  transition: left .25s;
}
.btn-toggle.btn-sm.active:before {
  opacity: .5;
}
.btn-toggle.btn-sm.active:after {
  opacity: 1;
}
.btn-toggle.btn-sm.btn-sm:before,
.btn-toggle.btn-sm.btn-sm:after {
  line-height: -0.5rem;
  color: #fff;
  letter-spacing: .75px;
  left: 0.4125rem;
  width: 2.325rem;
}
.btn-toggle.btn-sm.btn-sm:before {
  text-align: right;
}
.btn-toggle.btn-sm.btn-sm:after {
  text-align: left;
  opacity: 0;
}
.btn-toggle.btn-sm.btn-sm.active:before {
  opacity: 0;
}
.btn-toggle.btn-sm.btn-sm.active:after {
  opacity: 1;
}